.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.container-nav,
.container-main {
  margin: 0 2rem;
}

@media screen and (min-width: 750px) {
  .container-nav {
    width: 800px;
    margin: 0 auto;
  }

  .container-main {
    width: 400px;
    margin: 0 auto;
  }

  input {
    width: 75%;
  }

  body {
    background-image: url("/images/rick-morty-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .opening-statement {
    margin-bottom: 12rem;
  }

  .ul-nav {
    margin: 0.25rem;
  }
}
