body {
  font-family: Quando, sans-serif, "Times New Roman", Times, serif;
}

.homepage-bg {
  background-image: url("/images/rick-morty-img2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

img {
  width: 100%;
}

.results-bg {
  background-color: #202329;
}

header {
  color: #4cff8f;
  background-color: #505257;
}

.link-home {
  color: #4cff8f;
  font-size: 1.5rem;
  line-height: 1.5;
  text-decoration: none;
}

.container-main {
  position: relative;
}

.opening-statement {
  color: #f08d49;
  background-color: #505257;
  border-radius: 40px;
  line-height: 1.5;
  padding: 1rem 2rem 2rem;
  position: absolute;
  top: 6rem;
}

input {
  background-color: #e0e0e0;
  border-radius: 6px;
  height: 28px;
  width: 74%;
}

.btn-search {
  color: #f08d49;
  background-color: #505257;
  border-color: #f08d49;
  border-radius: 6px;
  height: 28px;
  cursor: pointer;
}

h2 {
  color: #f08d49;
}

ul {
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  justify-content: center;
}

.results-list-items {
  padding-bottom: 2rem;
}

.results-list-image:hover {
  cursor: pointer;
}

.container-list-item {
  box-shadow: 7px 7px 7px 4px rgba(0, 0, 0, 0.2);
  background-color: #505257;
  border: 12px solid #505257;
  transition: 0.5s;
  margin: auto;
}

.container-list-item:hover {
  transform: scale(1.1);
}

.name,
.status,
.species,
.gender,
.origin,
.location {
  color: #f08d49;
  text-align: left;
  margin: 0.5rem 0 0;
}

.detail-row {
  justify-content: center;
}

.details-img-container {
  padding: 1rem 1rem 0;
  background-color: #505257;
}

.details-text-container {
  padding: 0 1rem;
  background-color: #505257;
  max-width: 332px;
}

.details-list-item {
  padding-bottom: 0.75rem;
  color: #f08d49;
  text-align: left;
  margin: 0.5rem 0 0;
  font-size: 1.25rem;
  line-height: 1.25;
}

@media screen and (min-width: 750px) {
  .container-nav,
  .container-main {
    position: relative;
    width: 1000px;
    margin: auto;
  }

  .container-welcome-box {
    width: 600px;
    margin: auto;
  }

  .ul-nav {
    margin: 0.25rem;
  }

  input {
    width: 85%;
  }

  .column-half {
    flex-basis: 50%;
  }

  .container-list-item {
    width: 70%;
  }

  .details-img-container {
    padding-bottom: 1rem;
  }

  .details-list-item {
    font-size: 1.5rem;
    line-height: 1.75;
  }
}
